.ourBusiness .productCol {
  padding: 1em 1em 1em 1em;
  max-height: 400px;
  max-width: 400px;
}

.full-spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: gainsboro;
  opacity: 50%;
}

.spinner-border {
  color: #234ea2;
  margin: 0;
  position: absolute;
  top: 50%;
}

/* For Mobile Phones */
@media only screen and (max-width: 768px) {
  .ourBusiness .productCol {
    max-height: 200px;
    max-width: 200px;
  }
}
