.nav-link,
.navDropDown .nav-link,
.navDropDownItem {
  color: #ffffff !important;
  font-size: 1em;
  padding-right: 10px !important;
}

.nav-link:hover,
.navDropDown .nav-link:hover,
.navDropDownItem:hover {
  font-weight: bold;
  /* color: forestgreen !important; */
}

.dropdown-menu .show {
  width: 100% !important;
  display: contents;
}

.mmtLogo {
  background-color: white;
  margin-top: -50px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 16% 100%, 0% 44%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 16% 100%, 0% 44%);
}
/* For Mobile Phones */
@media only screen and (max-width: 768px) {
  .dropdown-menu {
    text-align: right !important;
    float: right !important;
    min-width: 40% !important;
  }
}
