@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: gainsboro;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For Mobile Phones */
@media only screen and (max-width: 768px) {
}
