@font-face {
  font-family: "Noto Sans CJK SC";
  src: local("Noto Sans CJK SC"),
    url(./fonts/NotoSansSC-Regular.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: local("Noto Sans CJK SC"),
    url(./fonts/NotoSansSC-Medium.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: local("Noto Sans CJK SC"),
    url(./fonts/NotoSansSC-Black.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: local("Noto Sans CJK SC"), url(./fonts/NotoSansSC-Bold.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: local("Noto Sans CJK SC"),
    url(./fonts/NotoSansSC-Light.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: local("Noto Sans CJK SC"), url(./fonts/NotoSansSC-Thin.otf) format("otf");
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: "Noto Sans CJK SC" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For Mobile Phones */
@media only screen and (max-width: 768px) {
}
